<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="department-container">
    <!-- Header Section -->
    <p-toolbar styleClass="mb-4 flex justify-between">
            <h2 class="text-xl font-bold text-primary m-0">
                <i class="pi pi-building mr-2"></i>
                Departments Management
            </h2>

            <div class="flex gap-2">
  <p-button label="" icon="pi pi-trash" pTooltip="Delete departments"  *ngIf="selectedDepartements.length" severity="danger"></p-button>
              <!-- <p-speedDial
                    [model]="items"
                    direction="down"
                    showIcon="pi pi-ellipsis-v"
                    hideIcon="pi pi-times"
                    [style]="{ position: 'relative', height: '100%' }"
                    [radius]="50"
                    buttonClassName="p-button-outlined p-button-secondary w-13 h-13">
                </p-speedDial> -->

                <p-button
                    icon="pi pi-plus"
                    severity="success"
                    (onClick)="openAddDepartmentModal()"
                    pTooltip="Add Department"
                    styleClass="p-button-raised">
                </p-button>
 <p-button
                    icon="pi pi-ellipsis-v"
                    [text]="true"
                    [rounded]="true"
                    severity="secondary"
                    (click)="menu.toggle($event)"
                    #menuButton>
                  </p-button>
                  <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>

            </div>
    </p-toolbar>
<div >
    <p-table [value]="departments" [(selection)]="selectedDepartements" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th>Department Name</th>
                <th>Manager</th>
                <th>Members</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-department>
            <tr>
                <td style="width: 4rem"><p-tableCheckbox [value]="department" /></td>
                <td>{{ department.departmentName }} </td>
                <td>  <p *ngIf="department.manager; else noManager">
                    <p-tag [value]="department.manager.firstName + ' ' + department.manager.lastName" [rounded]="true"  severity="secondary"></p-tag>
                  </p>
                  <ng-template #noManager>No Manager</ng-template></td>
                <td><p-button [label]="getArrayLength(department.employees)"  /></td>
                <td>
                  <p-button
                    icon="pi pi-ellipsis-v"
                    [text]="true"
                    [rounded]="true"
                    severity="secondary"
                    (click)="menu.toggle($event)"
                    #menuButton>
                  </p-button>
                  <p-menu #menu [model]="getMenuItems(department)" [popup]="true" appendTo="body"></p-menu>

                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
</div>
<app-department-modal  [visible]="openDepartmentModal" (closeM)="closeDepartmentDialog($event)"></app-department-modal>
<app-departements-users [selectedDepartement]="selectedDepartement" [isSetManager]="isSetManager"  [isEdit]="isEdit" [visible]="isModalOpen" (closeAddEdit)="closeAddEditDep($event)" ></app-departements-users>
<p-dialog [header]="isEdit ?isSetManager?'Edit Manager': 'Edit Departement' : 'Add Departement'" class="flex gap-2 flex-column" [modal]="true"
    [(visible)]="IsUploadModalopen" [style]="{ width: '25rem',display:'flex',flexDirection:'column' }" (onHide)="closeUploadFile(false)">
    <p-fileUpload
    mode="basic"
    chooseLabel="Choose"
    chooseIcon="pi pi-upload"
    name="demo"
    accept=".csv, application/csv, text/csv"
    maxFileSize="1000000"
    (onSelect)="onUpload($event)"
    *ngIf="!file;else NoFile"
    />
    <ng-template #NoFile>
      <div class="flex align-content-center justify-between">
<span>{{file?.name}}</span>
<p-button (onClick)="removeFile()">
  remove
</p-button>
</div>
</ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end gap-2 w-full">

      <p-button
          label="Cancel"
          [text]="true"
          severity="secondary"
          (onClick)="closeUploadFile(false)"
          />
          <p-button
          label="Save"
          [outlined]="true"
          severity="secondary"
          (onClick)="UploadFile()" />
          </div>
  </ng-template>
</p-dialog>
