<p-dialog [header]="!projectData?'Add Project':'Edit Project'" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Update your information.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24"> Name</label>
        <input pInputText id="project_name" class="flex-auto" autocomplete="off" />

    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">description</label>
      <textarea rows="5" cols="30" pTextarea [(ngModel)]="value"></textarea>
    </div>
     <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
<p-datepicker [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
    </div>
        <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
<p-datepicker [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
    </div>
     <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
<p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
    </div>
     <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
<p-select [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
    </div>
     <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
<p-multiselect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Select Cities" [maxSelectedLabels]="3" class="w-full md:w-80" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>
