<div class="main">
    <mat-card>
        <mat-card-header>
            Login
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="userForm">
            <mat-form-field class="input--container">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
              <mat-form-field class="input--container">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <button mat-flat-button color="primary" [disabled]="formValid()"  (click)="login()">Login</button>
        </mat-card-footer>
      </mat-card>
      
</div>