<p-toolbar
  styleClass="bg-white flex justify-between w-full m-0 border-top-none border-left-none border-right-none border-noround">
  <h2 class="text-xl font-bold text-primary m-0">
    <i class="pi pi-building mr-2"></i>
    Tasks
  </h2>
    <p-button label="Add Task" [rounded]="true" [outlined]="true"  icon="pi pi-plus" severity="secondary" size="small" (click)="openTaskModal(false)"/>
</p-toolbar>
<p-toolbar
  styleClass="bg-white flex justify-content-between w-full m-0 border-top-none border-left-none border-right-none border-noround">

  <p-iconField>
    <p-inputIcon class="pi pi-search" />
    <input type="text" pInputText placeholder="Search" />
  </p-iconField>
  <div class="flex gap-2">
    <p-button label="List" [rounded]="true" [text]="true" variety="text" icon="pi pi-bars" severity="secondary" size="small" />
    <p-button label="Grid" [rounded]="true" [text]="true" variety="text" icon="pi pi-th-large" severity="secondary" size="small" />
    <p-button label="Kanban" [rounded]="true" [text]="true" variety="text" icon="pi pi-clipboard" severity="secondary" size="small" />
    <p-button label="Calendar" [rounded]="true" [text]="true" variety="text" icon="pi pi-calendar" severity="secondary" size="small" />

  </div>
  <div class="flex gap-2">
    <p-button label="Filter" [rounded]="true" [outlined]="true"  icon="pi pi-filter" severity="secondary"
      size="small" />
    <p-button label="Sort" [rounded]="true" [outlined]="true"  icon="pi pi-sort-alt" severity="secondary" size="small" />
    <p-button label="Refresh" [rounded]="true" [outlined]="true"  icon="pi pi-refresh" severity="secondary" size="small" />
    <p-button label="Reset" [rounded]="true" [outlined]="true" icon="pi pi-times" severity="secondary" size="small" />

  </div>
</p-toolbar>
<div class="p-5">
  <p-table [value]="tasks" (sortFunction)="customSort($event)"  [sortOrder]="-1" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th pSortableColumn="code" style="width:20%">
                <div class="flex items-center gap-2">
                    Code
                    <p-sortIcon field="code" />
                </div>
            </th>
            <th pSortableColumn="name" style="width:20%">
                <div class="flex items-center gap-2">
                    Name
                    <p-sortIcon field="name" />
                </div>
            </th>
            <th pSortableColumn="price" style="width:20%">
                <div class="flex items-center gap-2">
                    Price
                    <p-sortIcon field="price" />
                </div>
            </th>
            <th pSortableColumn="category" style="width:20%">
                <div class="flex items-center gap-2">
                    Category
                    <p-sortIcon field="category" />
                </div>
            </th>
            <th pSortableColumn="quantity" style="width:20%">
                <div class="flex items-center gap-2">
                    Quantity
                    <p-sortIcon field="quantity" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
          <td>
                <p-tableCheckbox [value]="task" />
            </td>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <!-- <td>{{ tasks.quantity }}</td> -->
        </tr>
    </ng-template>
</p-table>
</div>
<app-task-modal [visible]="isModalOpen" [taskData]="selectedTask" [isEdit]="isEdit" (closeModal)="selectedTask = null"></app-task-modal>
