<div class="main">
  <p-card>
    <ng-template pTemplate="header">
      <div class="text-center p-3">
        <h2>Register</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form>
        <div class="flex flex-column gap-3">
          <div class="flex flex-column gap-2">
            <label for="firstName">First Name</label>
            <input pInputText id="firstName" name="firstName" [(ngModel)]="firstName" class="w-full" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="lastName">Last Name</label>
            <input pInputText id="lastName" name="lastName" [(ngModel)]="lastName" class="w-full" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="email">Email</label>
            <input pInputText id="email" name="email" [(ngModel)]="email" class="w-full" />
          </div>

          <div class="flex flex-column gap-2">
            <label for="password">Password</label>
            <p-password
              id="password"
              name="password"
              [(ngModel)]="password"
              [toggleMask]="true"
              [feedback]="true"
              styleClass="w-full">
            </p-password>
          </div>

          <div class="flex flex-column gap-2">
            <label for="hireDate">Choose hire date</label>
            <p-calendar
              id="hireDate"
              name="hireDate"
              [(ngModel)]="hire_date"
              dateFormat="mm/dd/yy"
              [showIcon]="true"
              styleClass="w-full">
            </p-calendar>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center">
        <p-button label="Register" severity="primary" (onClick)="register()"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
