<div class="main">
    <p-card>
        <ng-template pTemplate="header">
            <div class="text-center p-3">
                <h2>Reset Password</h2>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="flex flex-column gap-2">
                <label for="password">Password</label>
                <p-password 
                    id="password" 
                    [(ngModel)]="password" 
                    [toggleMask]="true" 
                    [feedback]="true"
                    styleClass="w-full">
                </p-password>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-center">
                <p-button 
                    label="Reset Password" 
                    severity="primary" 
                    [disabled]="formValid()" 
                    (onClick)="resetPassword()">
                </p-button>
            </div>
        </ng-template>
    </p-card>
</div>
