@use '@angular/material' as mat;

@import "primeicons/primeicons.css";
@include mat.core();
/* Add application styles & imports to this file! */
@import 'primeng/resources/themes/lara-dark-blue/theme.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100%; background-color: unset;}

.page--title--container{
    display: flex;
    align-items: center;
}
button{
  display: flex;
      // border: 0;
      // background: none;
}