@use '@angular/material' as mat;

/* filepath: /c:/Users/elala/Downloads/enterprise/web/src/app/pages/login/login.component.scss */
@import '~primeng/resources/themes/lara-light-indigo/theme.css';
@import '~primeng/resources/primeng.min.css';

/* Your component-specific styles */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100%; background-color: unset;}

.page--title--container{
    display: flex;
    align-items: center;
}
button{
  display: flex;
      // border: 0;
      // background: none;
}
